<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotado!</title>
    <style>
        body {
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
		}

        img {
            max-width: 100%;
            max-height: 80vh;
            margin-top: 20px; /* Ajuste conforme necessário */
        }
    </style>
</head>
<body>
    <h1>Anotado!!!</h1>
    <img src="static/dancinha.gif" alt="Imagem Anotada">
</body>
</html>
