<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eu em minhas férias!</title>
	<link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h2>Quem é você?</h2>
	<br>
    <a href="{{ url_for('isabela') }}">
        <img src="static/isabela.jpg" alt="Imagem 1" width=200 height=200>
    </a> 
    <a href="{{ url_for('miguel') }}">
        <img src="static/miguel.jpg" alt="Imagem 2" width=200 height=200>
    </a>

</body>
</html>
